<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylq.ssm.mapper.UserMapper">
    <resultMap id="UserMap" type="com.ylq.ssm.pojo.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR" />
        <result property="name" column="name" jdbcType="VARCHAR" />
        <result property="password" column="password" jdbcType="VARCHAR" />
    </resultMap>

	<sql id="Base_Column_List" >
		id, user_name, name, password
	</sql>
	
    <select id="getUser" resultMap="UserMap" parameterType="java.lang.Integer" resultType="com.ylq.ssm.pojo.User">
        select 
		<include refid="Base_Column_List" />
		from t_user
    	where id = #{id,jdbcType=INTEGER}
    </select>
    
    <select id="getUsers" resultMap="UserMap">
        select 
		<include refid="Base_Column_List" />
		from t_user
    </select>
    
    <insert id="insertUsers" parameterType="com.ylq.ssm.pojo.User">
        INSERT INTO t_user (id,user_name,name,password) VALUES (3,'ylq','ylq','1234567');
    </insert>
</mapper>